<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="SanityTestAutomation_Login">
    <classes>
      <class name="runner.TestRunner">
        <methods>
          <include name="SanityTestAutomation_Login"/>
        </methods>
      </class>
    </classes>
  </test>
</suite> <!-- Suite -->
